@media screen and (max-width: 550px) {
    #imgdev img {
        width: 266px;
        display: inline-block;
        position: absolute;
        left: 25%;
        top: 83px;
        z-index: -1;
    }
    #Services {
        margin-top: 280px;
    }
    .services .service-list {
     width: auto;
    }
    .slideshow-container {
        margin: auto;
        margin-left: 3px;
        height: 168px;
        position: relative;
        top: 240px;
    }
    .movingtext {
        margin-top: 251px;
        margin-left: -49px;
        color: white;
    }

    .consult-ctn img{
        width: 100%;
     }
     .consult-ctn{
        flex-wrap: wrap;
    }
    .clients-ctn {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 1050px)and (min-width: 550px) {
    #imgdev img {
        width: 266px;
        display: inline-block;
        position: absolute;
        left: 65%;
        top: 189px;
    }
    .slideshow-container {
        margin: auto;
        margin-left: 64px;
        height: 280px;
    }
    .movingtext {
        margin-top: 131px;
        margin-left: -49px;
        color: white;
        font-size: 69px;
    }
 
}


/* media query mobile and tabs */

@media screen and (max-width:1035px) {
    .movingtext {
        margin: 16px;
        padding: 4px;
        font-size: 38px;
    }
    #bodycircle {
        position: absolute;
        top: 10px;
        height: 850px;
    }
    #bodycircle1 {
        position: absolute;
        top: 10px;
        height: 850px;
    }
}
@media screen and (max-width: 900px) {
    #inisiative button {
        width: 270px;
        height: 55px;
        padding: 5px;
        font-size: 18px;
        border: none;
        font-weight: bold;
        border-radius: 50px;
        background-color: #fff;
        color: rgb(8, 195, 219);
    }

    #inisiative h2 {
        text-align: center;
        color: rgb(4, 108, 177);
        font-size: 29px;
    }

    #cloud {
        top: 50px;
        left: 5%;
        width: 336px;
    }
}