html {
    scroll-behavior: smooth;
}

a {
    color: #055b7e;
}

#imgdev img {
    width: 350px;
    display: inline-block;
    position: absolute;
    left: 935px;
    top: 134px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    margin: auto;
    margin-top: 80px;
    width: 90%;
    box-sizing: border-box;
}

.services .service-list {
    margin: 20px;
    width: 300px;
    height: 180px;
    color: #055b7e;
    padding: 20px;
    transition-property: width, height;
    transition-duration: .2s;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 5px 5px 1px rgb(231, 231, 231);

}

.services .ctn-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.services .service-list:hover {
    width: 300px;
    height: 190px;
}

.services img {
    display: inline-block;
    width: 130px;
    margin-top: 0px;
}

.services p {
    font-size: 13px;
    margin: 0px;
}

.services-text {
    font-size: 23px;
    text-align: right;
}

#inisiative {
    width: 85%;
    background-color: rgb(185, 237, 241);
    border-radius: 8px;
    margin: auto;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#inisiative h2 {
    text-align: center;
    color: rgb(4, 108, 177);
}

#inisiative p {
    text-align: center;
    color: rgb(5, 50, 61);
}

#buts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#inisiative div {
    margin: 10px
}

#inisiative button {
    width: 250px;
    height: 55px;
    padding: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    background-color: #fff;
    color: rgb(8, 195, 219);
}

#inisiative button:hover {
    background-color: rgb(8, 195, 219);
    color: rgb(255, 255, 255);
}

.consult-ctn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    border-radius: 13px;
    box-shadow: 1px 0px 10px 3px rgb(179, 178, 178);
    width: 90%;
    margin: auto;
}

#consult h2 {
    color: rgb(4, 108, 177);
}

#consult button {
    width: 250px;
    height: 55px;
    padding: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    background-color: rgb(8, 195, 219);
    color: rgb(255, 255, 255);
}

#consult {
    width: 84%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    margin: auto;
    padding: 30px;
    margin: auto;
}

#consult button:hover {
    background-color: #fff;
    color: rgb(8, 195, 219);
}

#cloud {
    position: relative;
    top: 95px;
    left: 5%;
    width: 436px;
    margin-top: -50px;

}

#tools {
    background-color: rgb(13, 179, 233);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.toolsdiv {
    width: 300px;
    height: 60px !important;
    transition: none !important;
    background-color: #fff !important;
    transition: all .5s;
    padding: 10px;
    border-radius: 7px;
    margin: 10px 10px;
}

.toolsdiv img {
    width: 63px !important;
}

.toolsdiv h4 {
    width: 170px;
    display: inline-block;
    padding: 10px;
    margin-top: 14px;
    position: absolute;
    text-align: center;
    color: rgb(4, 108, 177);

}



/* for devider */

.custom-shape-divider-bottom-1622774680 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1622774680 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1622774680 .shape-fill {
    fill: #26B3E9;
}


/* end devider */

#more {
    background-color: rgb(255, 255, 255);
    width: 223px;
    margin: auto;
    border-radius: 13px;
    transition-property: width;
    transition-duration: .5s;
    z-index: -1;
}

#more img {
    width: 55px;
    display: inline-block;
    position: absolute;
    margin: -56px;
    margin-left: 57%;
}

#more h1 {
    display: inline-block;
    margin: 0px;
    width: 200px;
    padding: 10px;
    font-size: 22px;
    margin-top: -16px;
    text-align: center;
    border-radius: 13px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#more:hover {
    width: 280px;
}

#custommer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#custommer div {
    width: 150px;
    padding: 40px;
    border-radius: 13px;
    border: 2px solid rgb(212, 212, 212);
    box-shadow: 1px 1px 15px rgb(165, 162, 162);
    background-color: #fff;
    margin: 20px;
}

#custommer h5 {
    color: #046cb1;
    font-size: 66px;
    text-align: center;
    margin: 5px;
}

#custommer p {
    text-align: center;
    font-weight: bold;
}

#clients-main-ctn {
    width: 90%;
    margin: auto;
    background-color: #b9edf1;
    border-radius: 13px;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(4, 108, 177);
}

#clients-main-ctn h1 {
    margin-left: 5%;
}


.clients-ctn {
    display: flex;
    justify-content: space-evenly;
}

.clients-ctn img {
    width: 100%;
}

.content-ctn div {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 120, 141);
    padding: 15px 30px;
    margin: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgb(202, 202, 202);

}

.profile h4 {
    margin: 5px;
    text-transform: uppercase;
}

.profile p {
    display: inline-block;
    margin: 3px;
    text-align: left;
    font-size: 14px;
}