<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Free Programming Books on Android development, C, C#, CSS, HTML5, iOS development, Java, JavaScript, PowerShell, PHP, Python, SQL Sever and more">
    <meta name="keywords" content="Programming Books,Programming PDF Books,Programming Tutorials,Android development,CSS,HTML5,iOS development,Java,JavaScript,PowerShell,PHP,Python,SQL Server">
    <meta property="og:title" content="Free Programming Books; HTML5, CSS3, JavaScript, PHP, Python...">
    <meta property="og:type" content="website">
    <title>free books-AllinO</title>
    <link rel="shortcut icon" type="image/jpg" href="/img/path112.png" />
    <!-- <link rel="stylesheet" href="/static/css/mobiletab.css"> -->
    <link rel="stylesheet" href="/static/css/bg-struc-body.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<style>
    body {
        margin: 0px;
        padding: 0px;
    }
</style>
<style>
    .grow {
        transition: all .3s ease-in-out;
        transform: scale(0.9);
    }
    
    .grow:hover,
    .grow:focus {
        transform: scale(1);
    }
    
    .books {
        margin: auto;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    
    .bookContainer img {
        box-shadow: 0px 0px 18px 0px #666666;
        margin-bottom: 5px;
    }
    
    body,
    html {
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    
    body {
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        background-color: #eeeeee;
    }
    
    h1,
    h2 {
        margin: 0px;
    }
    
    #page {
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 40px;
        background-color: #ffffff;
        max-width: 1100px;
    }
    
    .bookContainer {
        display: inline-block;
    }
</style>

<body>
    <header>

      <%- include('../header.ejs') %>
    </header>



    <!-- bg body -->
    <link href="./Free Programming Books – GoalKicker.com_files/static/css(3)" rel="stylesheet">

    <div style="width: 100%;  ">
        <div id="page" style="height: auto !important;">
            <h1>Programming Notes for Professionals books</h1>
            <script async="" src="/static/free-books/f(11).txt"></script>
            <!-- Test -->

            <p style="text-align:center">
                <a class="bmc-button" target="_blank" href=""><img src="/static/free-books/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:15px;font-size:32px !important;font-weight:bold;">Order a Book!</span></a>
            </p>
            <div class="books" style="height: auto !important;">
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/DotNETFrameworkBook/" target="_blank"><img src="/static/free-books/DotNETFrameworkGrow.png" alt=".NETFramework book" width="350" height="495"></a><br>.NET Framework Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/AlgorithmsBook/" target="_blank"><img src="/static/free-books/AlgorithmsGrow.png" alt="Algorithms book" width="350" height="495"></a><br>Algorithms Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/AndroidBook/" target="_blank"><img src="/static/free-books/AndroidGrow.png" alt="Android book" width="350" height="495"></a><br>Android® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/Angular2Book/" target="_blank"><img src="/static/free-books/Angular2Grow.png" alt="Angular2 book" width="350" height="495"></a><br>Angular 2 Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/AngularJSBook/" target="_blank"><img src="/static/free-books/AngularJSGrow.png" alt="AngularJS book" width="350" height="495"></a><br>AngularJS Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/BashBook/" target="_blank"><img src="/static/free-books/BashGrow.png" alt="Bash book" width="350" height="495"></a><br>Bash Notes for Professionals book
                </div>
                <script async="" src="/static/free-books/f(11).txt"></script>

                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/CBook/" target="_blank"><img src="/static/free-books/CGrow.png" alt="C book" width="350" height="495"></a><br>C Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/CPlusPlusBook/" target="_blank"><img src="/static/free-books/CPlusPlusGrow.png" alt="C++ book" width="350" height="495"></a><br>C++ Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/CSharpBook/" target="_blank"><img src="/static/free-books/CSharpGrow.png" alt="C# book" width="350" height="495"></a><br>C# Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/static/CSSBook/" target="_blank"><img src="/static/free-books/static/CSSGrow.png" alt="CSS book" width="350" height="495"></a><br>CSS Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/EntityFrameworkBook/" target="_blank"><img src="/static/free-books/EntityFrameworkGrow.png" alt="Entity Framework book" width="350" height="495"></a><br>Entity Framework Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/ExcelVBABook/" target="_blank"><img src="/static/free-books/ExcelVBAGrow.png" alt="Excel VBA book" width="350" height="495"></a><br>Excel® VBA Notes for Professionals book
                </div>
                <script async="" src="/static/free-books/f(11).txt"></script>

                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/GitBook/" target="_blank"><img src="/static/free-books/GitGrow.png" alt="Git book" width="350" height="495"></a><br>Git® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/HaskellBook/" target="_blank"><img src="/static/free-books/HaskellGrow.png" alt="Haskell book" width="350" height="495"></a><br>Haskell Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/HibernateBook/" target="_blank"><img src="/static/free-books/HibernateGrow.png" alt="Hibernate book" width="350" height="495"></a><br>Hibernate Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/HTML5Book/" target="_blank"><img src="/static/free-books/HTML5Grow.png" alt="HTML5 book" width="350" height="495"></a><br>HTML5 Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/HTML5CanvasBook/" target="_blank"><img src="/static/free-books/HTML5CanvasGrow.png" alt="HTML5 Canvas book" width="350" height="495"></a><br>HTML5 Canvas Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/iOSBook/" target="_blank"><img src="/static/free-books/iOSGrow.png" alt="iOS book" width="350" height="495"></a><br>iOS® Notes for Professionals book
                </div>
                <script async="" src="/static/free-books/f(11).txt"></script>

                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/JavaBook/" target="_blank"><img src="/static/free-books/JavaGrow.png" alt="Java book" width="350" height="495"></a><br>Java® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/JavaScriptBook/" target="_blank"><img src="/static/free-books/JavaScriptGrow.png" alt="JavaScript book" width="350" height="495"></a><br>JavaScript® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/jQueryBook/" target="_blank"><img src="/static/free-books/jQueryGrow.png" alt="jQuery book" width="350" height="495"></a><br>jQuery® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/KotlinBook/" target="_blank"><img src="/static/free-books/KotlinGrow.png" alt="Kotlin book" width="350" height="495"></a><br>Kotlin® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/LaTeXBook/" target="_blank"><img src="/static/free-books/LaTeXGrow.png" alt="LaTeX book" width="350" height="495"></a><br>LaTeX Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/LinuxBook/" target="_blank"><img src="/static/free-books/LinuxGrow.png" alt="Linux book" width="350" height="495"></a><br>Linux® Notes for Professionals book
                </div>
                <script async="" src="/static/free-books/f(11).txt"></script>

                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/MATLABBook/" target="_blank"><img src="/static/free-books/MATLABGrow.png" alt="MATLAB book" width="350" height="495"></a><br>MATLAB® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/MicrosoftSQLServerBook/" target="_blank"><img src="/static/free-books/MicrosoftSQLServerGrow.png" alt="Microsoft SQL Server book" width="350" height="495"></a><br>Microsoft® SQL Server® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/MongoDBBook/" target="_blank"><img src="/static/free-books/MongoDBGrow.png" alt="MongoDB book" width="350" height="495"></a><br>MongoDB® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/MySQLBook/" target="_blank"><img src="/static/free-books/MySQLGrow.png" alt="MySQL book" width="350" height="495"></a><br>MySQL® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/NodeJSBook/" target="_blank"><img src="/static/free-books/NodeJSGrow.png" alt="NodeJS book" width="350" height="495"></a><br>Node.JS® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/ObjectiveCBook/" target="_blank"><img src="/static/free-books/ObjectiveCGrow.png" alt="ObjectiveC book" width="350" height="495"></a><br>Objective-C® Notes for Professionals book
                </div>
                <script async="" src="/static/free-books/f(11).txt"></script>

                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/OracleDatabaseBook/" target="_blank"><img src="/static/free-books/OracleDatabaseGrow.png" alt="Oracle® Database book" width="350" height="495"></a><br>Oracle® Database Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/PerlBook/" target="_blank"><img src="/static/free-books/PerlGrow.png" alt="Perl book" width="350" height="495"></a><br>Perl® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/PHPBook/" target="_blank"><img src="/static/free-books/PHPGrow.png" alt="PHP book" width="350" height="495"></a><br>PHP Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/PostgreSQLBook/" target="_blank"><img src="/static/free-books/PostgreSQLGrow.png" alt="PostgreSQL book" width="350" height="495"></a><br>PostgreSQL® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/PowerShellBook/" target="_blank"><img src="/static/free-books/PowerShellGrow.png" alt="PowerShell book" width="350" height="495"></a><br>PowerShell® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/PythonBook/" target="_blank"><img src="/static/free-books/PythonGrow.png" alt="Python book" width="350" height="495"></a><br>Python® Notes for Professionals book
                </div>
                <script async="" src="/static/free-books/f(11).txt"></script>
                <!-- Test -->

                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/RBook/" target="_blank"><img src="/static/free-books/RGrow.png" alt="R book" width="350" height="495"></a><br>R Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/ReactJSBook/" target="_blank"><img src="/static/free-books/ReactJSGrow.png" alt="React JS book" width="350" height="495"></a><br>React JS Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/ReactNativeBook/" target="_blank"><img src="/static/free-books/ReactNativeGrow.png" alt="React Native book" width="350" height="495"></a><br>React Native Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/RubyBook/" target="_blank"><img src="/static/free-books/RubyGrow.png" alt="Ruby book" width="350" height="495"></a><br>Ruby® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/RubyOnRailsBook/" target="_blank"><img src="/static/free-books/RubyOnRailsGrow.png" alt="Ruby on Rails book" width="350" height="495"></a><br>Ruby on Rails® Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/SpringFrameworkBook/" target="_blank"><img src="/static/free-books/SpringFrameworkGrow.png" alt="Spring Framework book" width="350" height="495"></a><br>Spring® Framework Notes for Professionals book
                </div>
                <script async="" src="/static/free-books/f(11).txt"></script>
                <!-- Test -->

                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/SQLBook/" target="_blank"><img src="/static/free-books/SQLGrow.png" alt="SQL book" width="350" height="495"></a><br>SQL Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/SwiftBook/" target="_blank"><img src="/static/free-books/SwiftGrow.png" alt="Swift book" width="350" height="495"></a><br>Swift™ Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/TypeScriptBook2/" target="_blank"><img src="/static/free-books/TypeScriptGrow.png" alt="TypeScript book" width="350" height="495"></a><br>TypeScript Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/VBABook/" target="_blank"><img src="/static/free-books/VBAGrow.png" alt="VBA book" width="350" height="495"></a><br>VBA Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/VisualBasic_NETBook/" target="_blank"><img src="/static/free-books/VisualBasic_NETGrow.png" alt="VisualBasic.NET book" width="350" height="495"></a><br>Visual Basic® .NET Notes for Professionals book
                </div>
                <div class="bookContainer grow">
                    <a href="https://goalkicker.com/XamarinFormsBook/" target="_blank"><img src="/static/free-books/XamarinFormsGrow.png" alt="XamarinForms book" width="350" height="495"></a><br>Xamarin.Forms Notes for Professionals book
                </div>

            </div>
        </div>

    </div>
    <!-- =================includeHTML -->
    <!-- footer -->
    <footer>
        <%- include('../footer.ejs') %>
    </footer>

    <!-- <script></script>========= -->
    <script src="/static/javascript/allino.js"></script>
    <!-- scripts -->
</body>

</html>