<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not found</title>
    <meta http-equiv="Refresh" content="5; url='/'" />
</head>
<style>
    body{
        margin: 0%;
        background: rgb(142,34,195);
    background: linear-gradient(104deg, rgba(142,34,195,1) 0%, rgba(34,192,197,1) 91%, rgba(45,171,253,1) 100%);; margin-top: -20px;

    }
    .h12{
        display: block;
        margin: auto;
        width:35%;
       color: white;
       margin: 80px;
       font-size: 34px;

    }
    p{
        display: inline-block;
    }
    .img1{
        width: 50%;
        display: inline-block;
        margin: auto;
        border-radius: 35px;
        margin-left: 10%;
    }
    @media screen and (max-width: 600px) {
       .h12{
            font-size: 19px;
            margin: 10px;
            margin-top: 20px;

        }
        .img1{
            width: 60%;
            display: block;
            margin: 0px;
        }
        
    }
</style>
<body>
    <p class="h12">No Page Found <br>Check The URL and Try again <br><br> Or We Still Working on It... <p>
    <img class="img1" src="https://thumbs.dreamstime.com/b/delivery-man-scooter-fast-transportation-isolated-cartoon-character-white-background-postman-courier-parcel-72630975.jpg" alt="">
<p class="h12" style="display: inline-block; margin-left: 0px; float: right; margin-top: -280px;">I'm Jhonny ,I Will Take You To Home Page <br>Please Wait....<p>


</body>
</html>