<style>
    * {
        scroll-behavior: smooth;
    }
    
    @media screen and (max-width:500px) {
        .manus {
            display: none;
        }
        #mobile-manu {
            display: block;
        }
        .navbaricon {
            width: 50px;
            position: absolute;
            top: 5px;
            right: 33px;
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #fffefe;
            display: block;
            transition: 0.3s;
        }
        .sidenav a:hover {
            color: #f1f1f1;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
</style>

<div class="navbar ">
    <div>
        <a href="/">
            <img src="/static/img/path51.png ">
            <p class="tagline ">Get Every Thing Online</p>
        </a>
    </div>
    <!-- manu -->
    <ul class="manus">
        <a href="/ ">
            <li class="manu ">Home</li>
        </a>
        <a href="/#tools ">
            <li class="manu ">Tools</li>
        </a>
        <a href="/#Services ">
            <li class="manu ">Services</li>
        </a>
        <a href="/about ">
            <li class="manu ">About</li>
        </a>
        <a href="/contact ">
            <li class="manu ">Contect Us</li>
        </a>

    </ul>
</div>
<!-- responsive sidebar-->
<div id="mobile-manu">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" style="padding: 0px 12px;margin-top: 18px; border-radius: 40px;border: 2px solid white;" class="closebtn" onclick="closeNav()">&times;</a>
        <br><br><br>
        <a href="/">Home</a>
        <a href="/about">About us</a>
        <a href="/#Services">Services</a>
        <a href="/#tools">Tools</a>
        <!-- <a href="https://tools.allino.online">All tools</a> -->
        <a href="/contact">Contact</a>
        <a href="/Terms_Conditions">Terms & Conditions</a>
        <a href="/Privacy_Policy">Privacy Policy</a>
        <a href="/Disclaimer">Disclaimer</a>
        <a href="/static/about/projects">Projects</a>
        <!-- <a href="/blogs">Blogs</a> -->
    </div>
    <!-- icon -->
    <img class="navbaricon" onclick="openNav()" src="/static/img/navicon.png">


</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>